<%= form_with(model: adquisition_cost, local: true) do |form| %>
  <% if adquisition_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adquisition_cost.errors.count, "error") %> prohibited this adquisition_cost from being saved:</h2>

      <ul>
      <% adquisition_cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Producto %><br> 
    <%= form.select(:product, product_with_code, {}, id: 'js-searchable-stock') %>
  </div>

  <div class="form-group">
    <%= form.label :Costo %>
    <%= form.text_field :cost %>
  </div>

  <div class="actions">
    <%= form.submit "Agregar costo", class:"btn btn-info"%>
  </div>
<% end %>
