<div class="row">
  <div class="col-5 offset-3">    
    <p id="notice"><%= notice %></p>

    <h1>Costos de productos</h1>

    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Costo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @adquisition_costs.each do |adquisition_cost| %>
          <tr>
            <td><%= adquisition_cost.product_with_code %></td>
            <td><%= adquisition_cost.cost %></td>
            <td><%= link_to 'Eliminar', adquisition_cost, method: :delete, data: { confirm: 'Estas seguro/a?' }, class:"btn btn-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Agregar nuevo costo', new_adquisition_cost_path %>
  </div>
</div>
