<div class="row">
  <div class="col-8 offset-1">    
    <p id="notice"><%= notice %></p>

    <h1>Costos de productos</h1>
    <br>

    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Fecha de ingreso</th>
          <th>Producto</th>
          <th>Costo</th>
        </tr>
      </thead>

      <tbody>
        <% @adquisition_costs.each do |adquisition_cost| %>
          <tr>
            <td><%= adquisition_cost.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= adquisition_cost.product.name %></td>
            <td><%= number_with_delimiter(adquisition_cost.cost.round) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Agregar nuevo costo', new_adquisition_cost_path, class:"btn btn-info" %>
  </div>
</div>
