<div class="col-3 offset-1 pt-3">
  <div class="card border-blue">
    <div class="card-body">
      <h1>Registro consumo</h1>
      <%= form_with(model: consume, local: true) do |form| %>
        <% if consume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(consume.errors.count, "error") %> prohibited this consume from being saved:</h2>

            <ul>
            <% consume.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field pt-2">
          <%= form.label :Trabajador %><br>
          <%= form.select(:user_id, User.all.map {|user| ["#{user.name}", user.id] }, { include_blank: 'Seleccionar' }, class: "custom-select") %>
        </div>

        <div class="field pt-2">
          <%= form.label :Item %>
          <%= form.select(:resource_id, Resource.all.map {|resource| ["#{resource.name}", resource.id] }, { include_blank: 'Seleccionar' }, class: "custom-select consume-item") %>
        </div>

        <div class="field pt-2">
        <%= form.label :Tipo_de_descuento %>
        <%= select_tag :category, options_for_select(["Colación","Quincena","Sueldo"]), include_blank:'Seleccionar', class: "custom-select cost" %>
        </div>

        <div class="field pt-2">
          <%= form.label :Cantidad %>
          <%= form.number_field :quantity, class:"form-control consume-quantity"  %>
        </div>

        <div class="field pt-2">
          <%= form.label :Monto_total %>
          <%= form.text_field :total_amount, class:"form-control consume-amount" %>
        </div>
        <br>
        <div class="actions">
          <%= form.submit "Agregar registro", class:"btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>