<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Consumos</h1>

    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Trabajador/a</th>
          <th>Item</th>
          <th>Categoría</th>
          <th>Cantidad</th>
          <th>Monto total</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @consumes.each do |consume| %>
          <tr>
            <td><%= consume.user.name %></td>
            <td><%= consume.resource.name %></td>
            <td><%= consume.category %></td>
            <td><%= consume.quantity %></td>
            <td><%= consume.total_amount.round %></td>
            <td><%= link_to raw("<span class='fa fa-edit'></span>"), edit_consume_path(consume), class: "btn btn-warning" %></td>
            <td><%= link_to raw("<span class='fa fa-trash'></span>"), consume, method: :delete,class: "btn btn-danger" , data: { confirm: 'Estas seguro/a de eliminar el registro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Registrar nuevo consumo', new_consume_path, class:"btn btn-success" %>
  </div>
</div>
