<%= form_with(model: group_discount, local: true) do |form| %>
  <% if group_discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_discount.errors.count, "error") %> prohibited this group_discount from being saved:</h2>

      <ul>
      <% group_discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :Producto, class:"field" %><br> 
  <%= form.select(:product_id, Product.all.map {|product| ["#{product.code} - #{product.name}", product.id] }, { :include_blank => 'Digita el código o nombre del producto' } ,class:"custom-select") %><br>
  </div>

  <br>
  <div class="field">
    <%= form.label :Grupo%>
    <%= form.select(:group_id, Group.all.map {|group| ["#{group.name}", group.id] }, { :include_blank => 'Elegir grupo' } ,class:"custom-select") %><br>
  </div>

  <br>
  <div class="field">
    <%= form.label :Descuento %><br>
    <%= form.number_field :discount, step:"any" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Ingresar descuento", class:"btn btn-success" %><br>
  </div>
<% end %>
