<%= form_with(model: stock_movement, local: true) do |form| %>
  <% if stock_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_movement.errors.count, "error") %> prohibited this stock_movement from being saved:</h2>

      <ul>
      <% stock_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br>

  <div class="form-group text-bold h5">
    <%= form.label :Producto, class:"field" %><br> 
    <%= form.select(:product_id, Product.all.map {|product| ["#{product.code} - #{product.name}", product.id] }, {include_blank: true} ,class:"stock-product custom-select") %>
  </div>

  <div class="form-group text-bold h5">
    <%= form.label :Stock_actual %>
    <%= form.number_field :initial_stock, class:"initial-stock form-control" %>
  </div>

  <div class="form-group text-bold h5">
    <%= form.label :Elegir_movimiento %>
    <%= select_tag(:movement_type, options_for_select(['Suma de stock manual' , 'Resta de stock manual']), class:"custom-select move-type") %>
  </div>

  <div class="form-group text-bold h5">
    <%= form.label :Cantidad_por_agregar_o_quitar %>
    <%= form.number_field :stock_quantity, class:"quantity-stock form-control" %>
  </div>

  <div class="form-group text-bold h5">
    <%= form.label :Stock_final %>
    <%= form.number_field :final_stock, class:"final-stock form-control" %>
  </div>

  <div class="form-group hidden">
    <%= form.hidden_field :id_document, class: "form-control id-document" %>
  </div>

  <div class="actions">
    <%= form.submit "Añadir cambio de stock", class:"btn btn-info"%><br>
  </div>
<% end %>
