<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Movimientos de stock</h1>

    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Fecha de creaci贸n</th>
          <th>C贸digo</th>
          <th>Producto</th>
          <th>Stock inicial</th>
          <th>Movimiento de stock </th>
          <th>Stock final</th>
          <th>Transacci贸n asociada</th>
          <th>Id documento</th>
          
        </tr>
      </thead>

      <tbody class="text-center">
        <% if @stock_movements.nil? %>
        <% else %>
          <% @stock_movements.each do |stock_movement| %>
            <tr>
              <td><%= stock_movement.created_at.strftime("%d-%m-%Y %I:%M %p") %></td> 
              <td><%= stock_movement.product.code %></td>
              <td><%= stock_movement.product.name %></td>
              <td><%= stock_movement.initial_stock %></td>
              <td><%= stock_movement.final_stock - stock_movement.initial_stock %></td>
              <td><%= stock_movement.final_stock %></td> 
              <% if stock_movement.movement_type == nil %>
                <td><%= "Edici贸n manual" %></td>
              <% else %>
                <td><%= stock_movement.movement_type %></td>
              <% end %>
              <td><%= stock_movement.id_document || 0 %></td>
                        
            </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo movimiento de stock', new_stock_movement_path, class:"btn btn-info text-bold"%>
  </div>
</div>