<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Movimientos de stock</h1>

    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Fecha de creación</th>
          <th>Código</th>
          <th>Producto</th>
          <th>Stock inicial</th>
          <th>Movimiento de stock </th>
          <th>Stock final</th>
          <th>Transacción asociada</th>
          <th>Id documento</th>
          
        </tr>
      </thead>

      <tbody class="text-center">
        <% @stock_movements.each do |stock_movement| %>
          <tr>
            <td><%= stock_movement.created_at.strftime("%d-%m-%Y %I:%M %p") %></td> 
            <td><%= stock_movement.product.code %></td>
            <td><%= stock_movement.product.name %></td>
            <td><%= stock_movement.initial_stock %></td>
            <td><%= stock_movement.final_stock - stock_movement.initial_stock %></td>
            <td><%= stock_movement.final_stock %></td>
            <td><%= stock_movement.movement_type %></td>
            <td><%= stock_movement.id_document || 0 %></td>
                       
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo movimiento de stock', new_stock_movement_path, class:"btn btn-info text-bold"%>
  </div>
</div>