<div class="row">
  <div class="col-4 offset-4">
    <%= form_with(model: delivery_method, local: true) do |form| %>
      <% if delivery_method.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(delivery_method.errors.count, "error") %> prohibited this delivery_method from being saved:</h2>

          <ul>
          <% delivery_method.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :Patente %>
        <%= form.text_field :vehicle_plate %>
      </div>

      <div class="form-group">
        <%= form.label :Marca %>
        <%= form.text_field :brand%>
      </div>

      <div class="form-group">
        <%= form.label :Modelo%>
        <%= form.text_field :vehicle_model %>
      </div>

      <div class="form-group">
        <%= form.label :Peso_máximo %>
        <%= form.text_field :max_weight %>
      </div>

      <div class="form-group">
        <%= form.label :Consumo_aproximado %>
        <%= form.text_field :consume %>
      </div>

      <div class="form-group">
        <%= form.label :Número_de_emergencia %>
        <%= form.text_field :emergency_number %>
      </div>

      <div class="actions">
        <%= form.submit "Crear vehículo", class:"btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>