<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-6 offset-1">
    <h1>Grupos de clientes</h1>
    <br>
    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Nombre</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= link_to 'Editar', edit_group_path(group), class:"btn btn-warning" %></td>
            <td><%= link_to 'Eliminar', group, method: :delete, data: { confirm: 'Estás seguro/a?' }, class:"btn btn-danger"   %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo grupo', new_group_path, class:"btn btn-info" %>
  </div>
</div>
