<div class="container">
  <h1><%= title%></h1>
  <%= form_with(model: purchase, local: true) do |form| %>
    <% if purchase.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
        <ul>
        <% purchase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="row bg-white border-blue p-3">
        <div class="col-12">
          <h4 class="text-blue">Datos básicos</h4>
        </div>
        <div class="col-12 p-3">
          <div class="row">
            <div class="col-4">
              <%= form.label :created_at, "Fecha", class: "d-block"%>
              <%= form.date_select :created_at, { use_month_names: month_names, discard_year: true, selected: Date.today }, class: "custom-select date" %>
            </div>
            <div class="col-4">
              <%= form.label :supplier_id, "Proveedor", class: "control-label"%>
              <%= form.select(:supplier_id, Supplier.all.map {|supplier| ["#{supplier.name} - #{supplier.rut}", supplier.id] }, { include_blank: 'Ingresar proveedor' }, class: "custom-select") %>
            </div>
            <div class="col-4">
              <%= form.label :invoice_number, "Folio" %>
              <%= form.number_field :invoice_number, class: "form-control invoice_num", required: true %>
            </div>
            <div class="col-12 p-3">
              <h4 class="text-blue">Agregar productos</h4>
              <hr>
              <div id="add_items">
                <%= form.fields_for :add_items do |add_item_form| %>
                  <%= render 'add_item_fields', f: add_item_form %>
                <% end %>
                <div class="links"><br>
                  <%= link_to_add_association 'Añadir nuevo producto', form, :add_items, class:"btn btn-info" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 offset-4 my-3">
          <h5>Total Factura: <span id="invoice-total">$</span></h5>
          <%= form.hidden_field :total_amount %>
          <%= form.submit "Ingresar compra", class:"btn btn-success form-control" %>
        </div>
    </div>
  <% end %>
</div>
