<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-10"><br>
      <h1>Compras</h1>

      <table class="table table-striped bg-light">
        <thead>
          <tr>
            <th>Proveedor</th>
            <th>Folio</th>
            <th>Costo total</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @purchases.each do |purchase| %>
            <tr>
              <td><%= purchase.supplier_id %></td>
              <td><%= purchase.invoice_number %></td>
              <td><%= purchase.total_amount %></td>
              <td><%= link_to 'Editar compra', edit_purchase_path(purchase), class:"btn btn-info" %></td>
              <td><%= link_to 'Eliminar compra', purchase, method: :delete, data: { confirm: 'Estas seguro/a de eliminar la compra?' }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nueva compra', new_purchase_path, class:"btn btn-success" %>
    </div>
  </div>
</div>