<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @purchase.supplier_id %>
</p>


<p>
  <strong>Folio:</strong>
  <%= @purchase.invoice_number %>
</p>

<p>
  <strong>Costo total:</strong>
  <%= @purchase.total_amount %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
