<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/orders/new">
        <%= image_tag("users.png", class: "img-responsive", id: "navbar-logo", size: "50" ) %>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
      </li>
      <li class="nav-item dropdown active">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Productos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Ver productos', products_path, class: "nav-link" %>
        <% if current_user.role == "admin" %>
          <%= link_to 'Nuevo producto', new_product_path, class: "nav-link" %>
        <% end %>
        <% if current_user.role == "admin" || current_user.role == "logistic" %>
          <%= link_to 'Ver movimientos de stock', stock_movements_path, class: "nav-link" %> 
        <% end %>                                                                                                                                                                                                                                                                                                                                   
        <% if current_user.role == "admin" %>
          <%= link_to 'Añadir o quitar stock', new_stock_movement_path, class: "nav-link" %>
          <%= link_to 'Nuevo costo de producto', new_adquisition_cost_path, class: "nav-link" %>
          <%= link_to 'Ver costo de productos', adquisition_costs_path, class: "nav-link" %>
        <% end %>
      </div>
    </li>


      </li>
      <li class="nav-item dropdown active">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pedidos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if current_user.role == "admin"  || current_user.role == "sales" %>
        <%= link_to 'Nueva orden', new_order_path, class: "nav-link" %>
      <% end %> 
        <%= link_to 'Todas las ordenes', orders_path, class: "nav-link" %>
        <% if current_user.role == "admin"  || current_user.role == "sales" %>
        <%= link_to 'Mis órdenes', orders_my_order_path, class: "nav-link" %> 
        <%= link_to 'Envases por cliente', packaging_status_orders_path, class: "nav-link" %>
      <% end %>     
      </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pagos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Ver pagos registrados', payments_path, class: "nav-link" %> 
        <% if current_user.role == "admin" || current_user.role == "ventas" %>
          <%= link_to 'Registrar nuevo pago', new_payment_path, class: "nav-link" %> 
        <% end %>
          <%= link_to 'Ver pagos pendientes', payments_pending_path, class: "nav-link" %> 
          <%= link_to 'No pagaron hoy', payments_today_pending_path, class: "nav-link" %> 
        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movimientos de dinero
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if current_user.role == "admin" %>
          <%= link_to 'Ingresar movimiento', new_money_movement_path, class: "nav-link" %> 
        <% end %>
          <%= link_to 'Ver movimientos', money_movements_path, class: "nav-link" %> 
        <% if current_user.role == "admin" %>
          <%= link_to 'Cuadrar - Gerencia', new_cash_register_path, class: "nav-link" %> 
        <% end %>
          <%= link_to 'Cuadrar - Camiones', delivery_payments_payments_path, class: "nav-link" %>
        <% if current_user.role == "admin" %> 
          <%= link_to 'Ver cuadraturas anteriores', cash_registers_path, class: "nav-link" %>
        <% end %>
        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Detalle clientes', clients_path, class: "nav-link" %> 
        <% if current_user.role == "admin"  || current_user.role == "sales" %>
          <%= link_to 'Nuevo cliente', new_client_path, class: "nav-link" %>
          <%= link_to 'Detalle grupos', groups_path ,class: "nav-link" %>
        <% end %>
        <% if current_user.role == "admin" %>
          <%= link_to 'Nuevo grupo', new_group_path ,class: "nav-link" %>
        <% end %>
        </div>
      </li>
      <% if current_user.role == "admin" %>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Ver compras', purchases_path, class: "nav-link" %> 
            <%= link_to 'Ingresar compra', new_purchase_path, class: "nav-link" %> 
            <%= link_to 'Ver detalle de compras', add_items_path, class: "nav-link" %> 
            <%= link_to 'Agregar proveedor', new_supplier_path ,class: "nav-link" %>
            <%= link_to 'Ver proveedores', suppliers_path ,class: "nav-link" %> 
          </div>
        </li> 
      <% end %>
      <% if current_user.role == "admin"  || current_user.role == "logistic" %>
        <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Logística
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Asignar transportes', edit_all_orders_path, class: "nav-link" %>
          <%= link_to 'Descargas', orders_loading_sheets_path, class: "nav-link" %>
          <%= link_to 'Envases por camión', packaging_receptions_packaging_resume_path, class: "nav-link" %>
          <%= link_to 'Envases por detalle', packaging_receptions_path, class: "nav-link" %>
          <%= link_to 'Envases por cliente', packaging_status_orders_path, class: "nav-link" %>
        </div>
        </li>
      <% end %>

      <li class="nav-item dropdown active">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Despacho
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Ver pedidos', delivery_orders_orders_path, class: "nav-link" %>
        <%= link_to 'Ingresar pagos', new_payment_path, class: "nav-link" %>
        <%= link_to 'Ingresar recepción envases', new_packaging_reception_path, class: "nav-link" %>
        <%= link_to 'Ver pagos registrados', payments_path, class: "nav-link" %> 
        <%= link_to 'Ver envases por camión', packaging_receptions_packaging_resume_path, class: "nav-link" %>
        <%= link_to 'Ver envases por detalle', packaging_receptions_path, class: "nav-link" %>
      </div>
      </li>

        <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RRHH
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Agregar consumo', new_consume_path, class: "nav-link" %>
          <%= link_to 'Ver todos los consumos', consumes_path, class: "nav-link" %>
          <%= link_to 'Consumos colación', collation_consumes_path, class: "nav-link" %>
          <%= link_to 'Otros consumos', other_consumes_consumes_path, class: "nav-link" %>
          <% if current_user.role == "admin" %>
            <%= link_to 'Ver categorías', resources_path, class: "nav-link" %>
            <%= link_to 'Nueva categoría', new_resource_path, class: "nav-link" %>
          <% end %>
        </div>
        </li>

    <!--
    <li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Resúmenes
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Detalle ventas', home_dashboard_path, class: "nav-link" %>
    </div>
    </li>
    -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Editar perfil', edit_user_registration_path, class: "nav-link" %> 
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </div>
      </li> 
      <% if current_user.has_role? :admin %>
        <%= link_to 'Admin sitio', admin_dashboard_path, class: "nav-link" %> 
      <% end %>
    </ul>
    <div class="pr-5 mr-5">
      <i class="fa fa-user"></i>
      <%= "#{current_user.name.partition(" ").first}" %>
    </div>
  </div>
  <% end %>
</nav>