<div class="row">
  <div class="col-4 offset-4">
    <%= form_with(model: client, remote: true) do |form| %>
      <% if client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
          <% client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :Razón_social %>
        <%= form.text_field :business_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :RUT %>
        <%= form.text_field :rut, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= form.label :Dirección %>
        <%= form.text_field :address, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :city_id, 'Cuidad' %>
        <%= form.collection_select(:city_id, City.all,:id, :name, {}, { class: "custom-select"}) %>
      </div>

      <div class="form-group">
        <%= form.label :comune_id, 'Communa' %>
        <%= form.collection_select(:commune_id, Commune.all, :id, :name, {}, { class: "custom-select"}) %>
      </div>

      <div class="form-group">
        <%= form.label :Vendedor%>
        <%= form.select(:user_id, User.all.map {|user| ["#{user.name}", user.id] }, { include_blank: 'Seleccionar' }, class: "custom-select") %>
      </div>

      <div class="form-group">
        <%= form.label :Número_de_teléfono%>
        <%= form.text_field :phone_number, type: "tel", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :Horario %>
        <%= form.text_field :schedule, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :Acuerdos_especiales %>
        <%= form.text_field :special_agreement, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :Grupo %>
        <%= form.select(:group_id, Group.all.map {|group| ["#{group.name}", group.id] }, { include_blank: 'Seleccionar' }, class: "custom-select") %>
      </div>

      <div class="actions">
        <%= form.submit "Ingresar cliente", class:"btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
