<div class="container">
<br>
  <%= link_to 'Exportar comunas', home_index_communes_path(format: :xlsx), class:"btn btn-info" %>
  <%= link_to 'Exportar ciudades', home_index_cities_path(format: :xlsx), class:"btn btn-warning" %>
  <%= link_to 'Exportar clientes', home_index_clients_path(format: :xlsx), class:"btn btn-secondary" %>
  <%= link_to 'Exportar productos', home_index_products_path(format: :xlsx), class:"btn btn-danger" %>
  <%= link_to 'Exportar precios', home_index_prices_path(format: :xlsx), class:"btn btn-primary" %>
</div>