
<div class="container-fluid">
  <div class="row">
    <div class="col-11 offset-2"><br>
      <h2>Cuadratura de caja</h2>
          <%= form_with(model: cash_register, remote: true) do |form| %>
            <% if cash_register.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(cash_register.errors.count, "error") %> prohibited this cash_register from being saved:</h2>
          
                <ul>
                <% cash_register.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
            <div class="col-3 bg-secondary text-white text-center border border-dark pb-2"><br>
              <h4>Último monto en caja</h4>
              <p class="cash-out pl-5"><i class="fa fa-money" aria-hidden="true"></i> <%= number_with_delimiter(@last_final_cash)%></p>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-3 bg-light border pb-2"><br>
              <h4>Caja inicial</h4>
              <div class="field">
                <%= form.number_field :initial_cash, class:"btn btn-light initial-cash" %>
              </div>
            </div>
            <div class="col-3 bg-light border pb-2"><br>
              <h4>Entradas de efectivo - Gerencia</h4>
              <p class="cash-in pl-5"><%= number_with_delimiter(@total_in_no_delivery.round)%></p>
            </div>
            <div class="col-3 bg-light border pb-2"><br>
              <h4>Entradas de efectivo - Recibido Ruta</h4>
              <p class="cash-in pl-5"><%= number_with_delimiter(@sale_in_delivery.round)%></p>
            </div>

          </div>

          <div class="row">
            <div class="col-3 bg-light border pb-2"><br>
              <h4>Salidas de efectivo</h4>
              <p class="cash-out pl-5"><%= number_with_delimiter(@cash_out.round)%></p>
            </div>
            <div class="col-3 bg-light border pb-2"><br>
              <h4>Caja final - Gerencia</h4>
              <div class="field">
                <%= form.text_field :final_cash_admin, class:"btn btn-light final-cash-admin"%>
              </div>
            </div>
            <div class="col-3 bg-light border pb-2"><br>
              <h4>Caja final - total</h4>
              <div class="field">
                <%= form.text_field :final_cash, class:"btn btn-light final-cash"%>
              </div>
            </div>
          </div>
            <br>
            <div class="actions">
              <%= form.submit "Ingresar registro del día", class:"btn btn-info" %>
            </div>
          <% end %> 
    </div>  

  </div>
</div>

