
<div class="nested-fields">

<div class="container ml-3">
  <div class="row">
    <div class="col-4"><br><br>
      <div class="field st-product">
        <%= f.label :Producto, class:"field" %><br> 
        <%= f.select(:product, product_with_code, {}, id: 'js-searchable-order') %>
      </div>
     </div> 
     
     <div class="col-2"><br><br>
      <div class="field st-price">
        <%= f.label :Precio %>
        <%= f.text_field :price%>
      </div>
     </div>

     <div class="col-2 offset-1"><br><br>
      <div class="field">
        <%= f.label :Descuento %>
        <%= f.text_field :discount %>
      </div>
      </div>
    </div>

      <div class="row">
        <div class="col-3"><br><br>
          <div class="field">
            <%= f.label :Cantidad %>
            <%= f.text_field :price  %>
          </div>
        </div>

        <div class="col-3"><br><br>
          <div class="field">
            <%= f.label :Precio_total %>
            <%= f.text_field :total_product_amount %>
          </div>
        </div>

        <div class="col-3"><br><br>
          <div class="field">
            <%= f.label :Costo_envases %>
            <%= f.text_field :packaging_amount %>
          </div>
        </div>    
        <div class="col-3"><br><br><br>
          <%= link_to_remove_association "Eliminar producto", f , class:"btn btn-danger"%>
        </div>
      </div>
      <br><br>
      



    </div>
  </div>