<div class="nested-fields">
  <div class="row my-3">
    <div class="col-4">
      <%= f.label :Producto, class:"control-label" %>
      <%= f.select(:product_id, Product.all.map {|product| ["#{product.code} - #{product.name} - #{product.stock}", product.id] }, { :include_blank => 'Digita el código o nombre del producto' } ,class:"st-product custom-select") %>
    </div>
    <div class="col-4">
      <%= f.label :Precio, class: "control-label" %>
      <%= f.select :price, product_costs, {}, class: " custom-select st-price" %>
      <%= hidden_field_tag :hidden, 0, class: "hidden-price" %>
    </div>

    <div class="col-4">
      <%= f.label :Descuento_de_grupo, class: "form-label" %>
      <%= f.number_field :packaging_amount, class: "group_discount form-control", step:"any" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= f.label :Cantidad %>
      <%= f.number_field :quantity, class: "quantity form-control"  %>
    </div>

    <div class="col-4">
      <%= f.label :Precio_total %>
      <%= f.number_field :total_product_amount, class:"p_total_amount form-control" %>
    </div>

    <%= f.hidden_field :extra_tax, class: "extra_tax" %>
    <%= f.hidden_field :net_product_amount, class: "net_product_amount" %>
    
    <div class="col-4">
      <%= link_to_remove_association "Eliminar producto", f , class:"btn btn-danger form-control", style: "margin-top: 34px"%>
    </div>
  </div>
  <hr>
</div>