<div class="nested-fields">
  <div class="field st-product">
    <%= f.label :Productos %>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true %>
  </div>


  <div class="field st-price">
    <%= f.label :Precio %>
    <%= f.text_field :price%>
  </div>

  <div class="field">
    <%= f.label :Descuento %>
    <%= f.text_field :discount %>
  </div>

  <div class="field">
    <%= f.label :Cantidad %>
    <%= f.text_field :price  %>
  </div>

  <div class="field">
    <%= f.label :Precio_total %>
    <%= f.text_field :total_product_amount %>
  </div>

  <div class="field">
    <%= f.label :Precio_envases %>
    <%= f.text_field :packaging_amount %>
  </div>


  <%= link_to_remove_association "remove product", f %>
</div>