<div class="container">
  <div class="row">
    <div class="col-4 offset-1">
      <h1><%= title%></h1>
    </div>
  </div>
    <div class="row bg-white border border-info pt-3">
      <div class="col-2">
        <h4 class="ml-3">Datos básicos </h4>
      </div>
        <%= form_with(model: order, local: true) do |form| %>
          <% if order.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
              <ul>
                <% order.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-2 offset-1"><br><br>
              <div class="form-group">
                <%= form.label :Fecha_de_entrega, class:"control-label" %>
                <%= form.date_select :date,  {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], discard_year: true, selected: Date.today} %>
              </div>
            </div>
    
            <div class="col-2"><br><br>
              <div class="form-group">
                <%= form.label :Cliente, class: "control-label"%><br> 
                <%= form.collection_select :client_id, Client.all, :id, :business_name, prompt: true%>
              </div>
            </div>

            <div class="col-2"><br><br>
              <div class="form-group">
                <%= form.label :Despacho_por, class:"control-label" %>
                <%= form.collection_select :delivery_method_id, DeliveryMethod.all, :id, :vehicle_plate, prompt: true%>
              </div>
            </div>

            <div class="form-group">
              <%= form.hidden_field :net_amount, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.hidden_field :total_iva, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.hidden_field :total_extra_taxes, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.hidden_field :total_amount, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.hidden_field :total_packaging_amount, class: "form-control" %>
            </div>
          
            <!--
            <div class="form-group">
              <%= form.label :visit_start, class:"control-label" %>
              <%= form.datetime_select :visit_start, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :visit_end, class:"control-label" %>
              <%= form.datetime_select :visit_end, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :discount_amount, class:"control-label" %>
              <%= form.text_field :discount_amount, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :discount_comment, class:"control-label"%>
              <%= form.text_field :discount_comment, class: "form-control" %>
            </div>

            -->
            <div class="col-2"><br><br>
              <div class="form-group">
                <%= form.label :Hacer_factura, class:"control-label" %><br>
                <%= form.check_box :create_invoive, :style => "width: 25px; height: 25px;"%>
              </div>
            </div>

            <!--
            <div class="form-group">
              <%= form.label :responsable, class:"control-label" %>
              <%= form.number_field :responsable, class: "form-control" %>
            </div>
            <br> 
          </div>

          -->
          <div class="container">
            <div class="row">
              <h4 class="ml-3">Agregar productos</h4>
              <div class="field" id="add_products">
                <%= form.fields_for :add_products do |add_product_form| %>
                  <%= render 'add_product_fields', f: add_product_form %>
                <% end %>
                <div class="links"><br><br>
                  <%= link_to_add_association 'Añadir nuevo producto', form, :add_products, class:"btn btn-info ml-5" %>
                </div>
              </div>
            </div>
              <div><br>
                <%= form.submit "Ingresar orden", class:"btn btn-success ml-5 ", data: { confirm: '¿Estas seguro/a?' } %><br><br>
              </div>
          </div>
        <% end %>
    </div>
  </div>