<div class="container bg-white">
  <div class="row">
    <div class="col">
      <!--Sección logo e información básica -->
      <div class="row bg-white">
        <div class="col bg-white">
          <div class="col w-25 d-table-cell offset-1 justify-content-center">
          <% if request.format == 'application/pdf' %>
              <br><%= wicked_pdf_image_tag("logoLA.png", class: "img-responsive", id: "navbar-logo", size: "185" ) %>
            <% else %>
            <br><%= image_tag("logoLA.png", class: "img-responsive", id: "navbar-logo", size: "185" ) %>
            <% end %>

            </div>
          <div class="col w-25 d-table-cell bg-white border border-danger mt-3 mr-3">
            <br><h5 class="text-center">RUT: 76.712.576-3</h5>
            <h5 class="text-center text-bold">COMPROBANTE DE VENTA</h5>
            <h5 class="text-center">N°<%= @order.id %></h5>
            <h6 class="text-center">Documento no tributario</h6>
          </div>
        </div>
      </div>
      <!--Sección Los Amigos -->
        <div class="row bg-white">
          <div class="col w-25 d-table-cell m-3"><br>
            <h6 class="text-right">Fecha de emisión: <%= @order.date.strftime("%d/%m/%Y") %></h6>
            <h2>Sociedad Comercial C y C Los Amigos SPA</h2>
            <div class="row">
              <div class="col w-25 d-table-cell">
                <h6 class="text-blue">Giro:</h6><br>
                <h6 class="text-blue">Dirección:</h6>
                <h6 class="text-blue">Comuna:</h6>
                <h6 class="text-blue">Región:</h6>
              </div>
              <div class="col w-95 d-table-cell">
                <h6>VENTA AL POR MENOR DE BEBIDAS</h6>
                <h6> ALCOHÓLICAS Y NO ALCOHÓLICAS.</h6>
                <h6>Laguna sur 9600, bodega F10.</h6>
                <h6>Pudahuel.</h6>
                <h6>Metropolitana.</h6>
              </div>
            </div>
          </div>
        </div>
      <!--Sección información receptor -->
      <div class="row bg-white">
        <div class="bg-blue">
          <h5 class="text-center pt-1">Información del receptor</h5>
        </div>
      </div>
      <div class="row d-table-row bg-white">
        <div class="col w-25 d-table-cell ml-2 border pt-1 border-dark">
          <div class="row">
            <div class="col w-25 d-table-cell pr-0">
              <h6 class="text-blue">Cliente/a:</h6>
              <h6 class="text-blue">RUT:</h6>
              <h6 class="text-blue">Dirección:</h6>
            </div>
            <div class="col w-30 d-table-cell">
              <h6><%= @order.client.business_name %></h6>
              <h6><%= @order.client.rut %></h6>
              <h6><%= @order.client.address %></h6>
            </div>
            <div class="col w-25 d-table-cell pr-0">
              <h6 class="text-blue">Vendedor:</h6>
              <h6 class="text-blue">Horario:</h6>
            </div>
            <div class="col w-25 d-table-cell">
              <h6><%= @order.user_name %></h6>
              <h6><%= @order.client.schedule %></h6>
            </div>
          </div>
        </div>
      </div><br>

      <!--Sección información de la orden-->
      <div class="row bg-white">
        <div class="bg-blue">
          <h5 class="text-center pt-1">Detalle del documento</h5>
        </div>
      </div>

      <div class="row bg-white">
        <div class="col w-25 d-table-cell ml-1">
          <table class="table table-striped border border-dark">
            <thead class="text-center">
              <tr>
                <th>Código</th> 
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Neto</th>
                <th>Porcentaje impuesto extra</th>
                <th>Total item</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <% @order.add_products.each do |item| %>
                <tr>
                  <td><%= item.product.code %></td>
                  <td><%= item.product.name %></td>
                  <td><%= item.quantity %></td>
                  <td><%= number_with_delimiter(item.net_product_amount.round) %></td>
                  <td><%= item.product.extra_tax %></td>
                  <td><%= number_with_delimiter(item.total_product_amount.round) %></td>
                </tr>  
              <% end %>
            </tbody>
          </table>  
        </div>
      </div>
      <!--Sección información de montos-->
      <div class="row  bg-white pr-3">
        <div class="col w-20 d-table-cell"></div>
          <div class="offset-9 text-right bg-blue">
            <h5 class="text-center pt-1">Detalle montos</h5>
          </div>
      </div>
      <div class="row pr-3 ">
        <div class="col d-table-cell"></div>
          <div class="offset-9 border border-dark">
            <div class="row m-2">
              <div class="col w-45 d-table-cell">
                <h6 class="text-blue"> Monto neto:</h6>
                <h6 class="text-blue"> IVA:</h6>
                <h6 class="text-blue"> Imptos. extra:</h6>
                <h6 class="text-blue text-bold"> Total:</h6>
              </div>
              <div class="col d-table-cell">
                <h6>$<%= number_with_delimiter(@order.net_amount.round) %></h6>
                <h6>$<%= number_with_delimiter(@order.total_iva.round) %></h6>
                <h6>$<%= number_with_delimiter(@order.total_extra_taxes.round) %></h6>
                <h6 class="text-bold">$<%= number_with_delimiter(@order.total_amount.round) %></h6>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>  
    <br><br><br><br><br><br><br><br>
  </div>
</div>
          
