
<div class="container">
  <div class="row">
    <div class="col-12">
    <br>
    <h1>Asignar transporte a órdenes</h1><br>
      <%= form_for :order, :url => update_all_path, :html => { :method => :put } do %>
        <table class="table table-striped bg-light">
          <thead class="text-center">
            <tr>
              <th>N° de orden</th>
              <th>Cliente</th>
              <th>Monto total</th>
              <th>Transporte</th>
            </tr>
          </thead>
          <% @orders.each do |order| %>
            <%= fields_for "order[]", order do |order_fields| %>
          <tr class="text-center">
            <td><%= order.id %></td> 
            <td><%= order.client_business_name %></td>
            <td>$ <%= number_with_delimiter(order.total_amount.round) %></td> 
            <td><%= order_fields.select(:delivery_method_id, DeliveryMethod.all.map {|method| ["#{method.vehicle_plate}", method.id] }, { include_blank: 'Elegir transporte' }, class: "custom-select") %></td>
          </tr>
            <% end %>
          <% end %>
        </table>

        <div class="actions">
          <%= submit_tag %>
        </div>
      <% end %>
    </div>
  </div>
</div>