
<div class="container">
  <div class="row">
    <div class="col-5">
        <h1>Órdenes</h1>
        <%= link_to 'Exportar a Excel', orders_path(format: :xlsx), class:"btn btn-info" %><br>
        <br>
        <table class="table table-striped bg-light" id="orders">
          <thead class="text-center">
            <tr>
              <th>Fecha<th> 
              <th>Cliente</th>
              <th>Vendedor</th>
              <th>Despacho</th>
              <th>Total neto</th>
              <th>Total iva</th>
              <th>Total otros imptos.</th>
              <th>Total bruto</th>
              <th>Total monto envases</th>
              <th>Inicio entrega</th>
              <th>Término entrega</th>
              <th>Monto de descuento</th>
              <th>Comentario del descuento</th>
              <th>¿Crear factura?</th>
              <th>Encargado de camión</th>
              
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.date %></td>
                <td><%= order.client_business_name %></td>
                <td><%= order.user_name %></td>
                <td><%= order.delivery_method_vehicle_plate %></td>
                <td><%= order.net_amount %></td>
                <td><%= order.total_iva %></td>
                <td><%= order.total_extra_taxes %></td>
                <td><%= order.total_amount %></td>
                <td><%= order.total_packaging_amount %></td>
                <td><%= order.visit_start %></td>
                <td><%= order.visit_end %></td>
                <td><%= order.discount_amount %></td>
                <td><%= order.discount_comment %></td>
                <td><%= order.create_invoive ? 'Sí' : 'No' %></td>
                <td><%= order.responsable %></td>
                <td><%= link_to 'Mostrar', order, class:"btn btn-info" %></td>
                <td><%= link_to 'Editar', edit_order_path(order), class:"btn btn-info"%></td>
                <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Estás seguro/a de eliminar la órden?' }, class:"btn btn-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'Nueva órden', new_order_path, class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>