<div class="row">
  <div class="col-10 offset-1">
  <br>
    <h1>Ventas 2021</h1>
    <br>
    <% month_names.each_with_index do |month, index| %>
      <h2 class="text-info"><%= month_names[index] %></h2>
      <table class="table table-hover table-info table-bordered bg-light table-sm">
        <thead>
          <tr>
            <th>Vendedor</th>
            <th>Monto Vendido</th>
            <th>Monto Pagado</th>
            <th>Clientes atendidos</th>
            <th>Rentabilidad</th>
            <th>Covertura vs mes pasado</th>
            
          </tr>
        </thead>
        <tbody>
          <% @sellers.each do |seller| %>
            <tr>
              <% user = User.find(seller) %>
              <td><%= user.name.partition(" ").first %></td>
              <td><%= monthly_sale(seller, index+1, 2021, "orders") %></td>
              <td><%= monthly_sale(seller, index+1, 2021, "payments") %></td>
              <td><%= monthly_sale(seller, index+1, 2021, "clients_served") %></td>
              <td><%= "#{monthly_sale(seller, index+1, 2021, "rentability")}%" %></td>
              <td><%= "#{monthly_sale(seller, index+1, 2021, "clients_vs")}%" %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
  </div>
</div>