<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-10 offset-1">
    <h1>Mis órdenes</h1>
    <br>
    <table class="table table-striped bg-light text-center">
      <thead>
        <tr>
          <th>Fecha de entrega</th> 
          <th>Cliente</th>
          <th>Total pedido</th>
          <th>¿Va con factura?</th>
          <th> Acciones </th>
        </tr>
      </thead>

      <tbody class="text-center">
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%d-%m-%Y %I:%M %p") %></td>
            <td><%= order.date.strftime("%d-%m-%Y") %></td>
            <td><%= order.client.business_name %></td>
            <td><%= number_with_delimiter(order.total_amount.round) %></td>
            <% if order.create_invoive == true %>
              <td><%= "Sí" %></td>
            <% else %>
              <td><%= "No" %></td>
            <% end %>
            <td><%=  link_to raw("<span class='fa fa-eye'></span>"), order, class:"btn bg-info" %></td>
            <td><%= link_to raw("<span class='fa fa-edit'></span>"), edit_order_path(order), class:"btn bg-warning" %></td>
            <td><%= link_to raw("<span class='fa fa-trash'></span>"), order, method: :delete,class:"btn bg-danger",  data: { confirm: 'Estas seguro/a de eliminar la orden?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <br>
  </div>
</div>
    <br>
    <%= link_to 'Nueva orden', new_order_path, class:"btn btn-info offset-1" %>

