<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-5 offset-1">
    <h1>Items de consumo</h1>

    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Costo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <td><%= resource.name %></td>
            <td><%= number_with_delimiter(resource.amount.round) %></td>
            <td><%= link_to raw("<span class='fa fa-edit'></span>"),edit_resource_path(resource), class: "btn btn-warning" %></td>
            <td><%= link_to raw("<span class='fa fa-trash'></span>"), resource, class: "btn btn-danger" , method: :delete, data: { confirm: 'Estas seguro/a de eliminar el item?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Registrar nuevo item', new_resource_path, class:"btn btn-success" %>
