<br>
<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :Orden, class: "control-label"%>
    <%= form.select(:order, order_with_name)%>
  </div>

  <div class="form-group">
    <%= form.label :Método_de_pago, class: "control-label"%>
    <%= form.collection_select :payment_method_id, PaymentMethod.all, :id, :name, prompt: true%>
  </div>

  <div class="form-group">
    <%= form.label :Monto_pagado %>
    <%= form.number_field :amount_payed %>
  </div>

  <div class="form-group">
    <%= form.label :Estado %>
    <%= form.select(:status, order_status) %>
  </div>

  <div class="actions">
    <%= form.submit "Registrar", class:"btn btn-info" %>
  </div>
<% end %>
