<div class="row">
  <div class="col-8 offset-2">
    <p id="notice"><%= notice %></p>

    <h1>Pagos recibidos</h1>
    <br>
    <table class="table table-striped bg-light"> 
      <thead>
        <tr>
          <th>N° Orden asociada</th>
          <th>Cliente/a</th>
          <th>Monto total de la orden</th>
          <th>Método de pago</th> 
          <th>Fecha del cheque</th> 
          <th>Monto pagado</th>
          <th>Estado</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @payments.each do |payment| %>
          <tr> 
            <td><%= payment.order.id %></td>
            <td><%= payment.order.client.business_name %></td>
            <td>$ <%= number_with_delimiter(payment.order.total_amount.round) %></td>
            <td><%= payment.payment_method %></td>
            <% if payment.payment_method_id == 6 %>
              <td><%= payment.check_date.strftime("%d-%m-%Y") %></td>
            <% else %>
              <td><%=  "N/A" %></td>
            <% end %>
            <td>$ <%= number_with_delimiter(payment.amount_payed.round) %></td>
              <% if payment.order.total_amount > payment.amount_payed %>
                <td><%= "Pago parcial" %></td>
              <% else %>
                <td><%= "Pago total" %></td>
              <% end %>
            <td><%= link_to 'Editar', edit_payment_path(payment), class:"btn btn-info" %></td>
            <td><%= link_to 'Eliminar', payment, method: :delete, data: { confirm: '¿Estas seguro/a de eliminar el pago?' }, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Registrar pago', new_payment_path, class:"btn btn-info"   %>
  </div>
</div>
