<div class="container">
  <div class="row">
  </div><br>
  <div class="row">
    <table class="table table-hover table-warning table-bordered bg-light" id="orders">
      <thead class="text-center table-warning">
        <tr>
          <th>N° Orden</th> 
          <th>Vendedor</th>
          <th>Fecha Orden</th>
          <th>Cliente</th>
          <th>Saldo pendiente</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @orders.each do |order| %>
          <tr>
            <% @order_payments = Payment.where(order_id: order.id) %>
            <% @total_order_payed = 0 %>
            <% @order_payments.each do |order_payment| %>
              <% @total_order_payed += order_payment.amount_payed %>
            <% end %>

            <% if order.discount_amount.nil? %>
              <% sum = 0 %>
            <% else %>
              <% sum = order.discount_amount %>
            <% end %>

            <% if (order.total_amount - sum) > @total_order_payed %>
            <td><%= order.id %></td>
            <td><%= order.client.user.name %></td>
            <td><%= order.created_at.strftime("%d-%m-%Y") %></td>
            <td><%= order.client.business_name %></td>
            <% aux = order.freight || 0 %>
            <td>$ <%= number_with_delimiter((order.total_amount - @total_order_payed + aux).round) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>