
<%= (@packaging_reception) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :client %>
    <%= f.input :total_box_amount %>
    <%= f.input :total_payed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
