<div class="container-fluid">  
  <div class="row">
    <div class="col pl-4">
    <br>
      <h2>Ingresar envases devueltos</h2>
      <%= form_with(model: packaging_reception, remote: true) do |form| %>
        <% if packaging_reception.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(packaging_reception.errors.count, "error") %> prohibited this packaging_reception from being saved:</h2>

            <ul>
            <% packaging_reception.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="col-8">
          <%= form.label :client_id, "Cliente", class: "form-label"%><br>
          <%= form.select(:client_id, Client.all.collect {|client| ["#{client.id} - #{client.business_name}", client.id] }, { include_blank: 'Ingresar cliente', class: "form-control select2-simple-dropdown"}, id:"client-select-packaging") %>
        </div>
        <br>
        <div class="col-5">
          <%= form.label :delivery_method_id, "Patente", class: "form-label"%><br>
          <%= form.select(:delivery_method_id, DeliveryMethod.all.map {|delivery| ["#{delivery.vehicle_plate}", delivery.id] }, { :include_blank => 'Elegir patente' } ,class:"custom-select pack-delivery") %>
        </div>
        <br>
        <div class="col-5 ">
          <%= form.label :total_payed, "Monto pagado", class:"form-label" %><br>
          <%= form.number_field :total_payed,input_html: {value: form.object.total_payed || '1'} ,class: "form-control" %>  
        </div>
        <br>
        <h5>Conversión</h5>
        <div>
          <table class="table table-striped bg-light ">
            <thead>
            <tr>
              <th>Caja</th> 
              <th>Valor unitario</th>
              <th>Cantidad</th>
              <th>En dinero</th>
            </tr>
          </thead>
            <tbody>
              <% PackagingConvertion.all.each do |packaging| %>
                <tr class="parent">
                  <td><%= "#{packaging.name} - #{packaging.supplier.name}"%></td>
                  <td class="pack_cost"><%= packaging.cost %></td>
                  <td><input type="number" min="0" max="200" class="quant_pack" ></td>
                  <td><input type="number" class="amount_pack" ></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-5">
          <%= form.label :total_box_amount, "Total calculado", class:"form-label" %><br>
          <%= form.number_field :total_box_amount, class: "form-control total_box_amount" %>  
        </div>
        <br>

        <div class="col-4">
          <%= form.submit "Ingresar recepción", class:"my-3 btn btn-success btn-block pack-form"%>
        </div>
      <% end %>
  </div>
</div>

