<div class="row">
  <div class="col-6 offset-1">
  <br>
    <h2>Ingresar envases devueltos</h2>
    <%= form_with(model: packaging_reception, remote: true) do |form| %>
      <% if packaging_reception.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(packaging_reception.errors.count, "error") %> prohibited this packaging_reception from being saved:</h2>

          <ul>
          <% packaging_reception.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-7">
        <%= form.label :client_id, "Cliente", class: "form-label"%><br>
        <%= form.select(:client_id, Client.all.collect {|client| ["#{client.id} - #{client.business_name}", client.id] }, { include_blank: 'Ingresar cliente', class: "form-control select2-simple-dropdown"}, id:"client-select-packaging") %>
      </div>
      <br>

      <div class="col-5">
        <%= form.label :total_box_amount, "Monto en cajas", class:"form-label" %><br>
        <%= form.number_field :total_box_amount, class: "form-control" %>  
      </div>
      <br>

      <div class="col-5 ">
        <%= form.label :total_payed, "Monto pagado", class:"form-label" %><br>
        <%= form.number_field :total_payed, class: "form-control" %>  
      </div>
      <br>

      <div class="col-4">
        <%= form.submit "Ingresar recepción", class:"my-3 btn btn-success btn-block"%>
      </div>
    <% end %>
  </div>
  <div class="col-5">
  <br>
  <h2>Conversión</h2>
    <div class="col-8">
      <h5>Elegir tipo de envase</h5> 
      <%= select_tag('Select', options_from_collection_for_select(PackagingConvertion.all, 'id', 'name'), prompt: "Selecciona un tipo", class:"form-control", id:"convertion") %><br>
      <h5>Cantidad</h5> 
      <%= number_field_tag :quantity_pack, params[:quantity_pack],id:"quantity_pack"%><br>
      <br><h5>Total</h5>
      <%= text_field_tag :total_pack, params[:total_pack], id:"total_pack" %>
    </div>
  </div>
</div>

