<p id="notice"><%= notice %></p>

<h1>Packaging Receptions</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Total box amount</th>
      <th>Total payed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packaging_receptions.each do |packaging_reception| %>
      <tr>
        <td><%= packaging_reception.client %></td>
        <td><%= packaging_reception.total_box_amount %></td>
        <td><%= packaging_reception.total_payed %></td>
        <td><%= link_to 'Show', packaging_reception %></td>
        <td><%= link_to 'Edit', edit_packaging_reception_path(packaging_reception) %></td>
        <td><%= link_to 'Destroy', packaging_reception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Packaging Reception', new_packaging_reception_path %>
