<%= form_with(model: add_product, local: true) do |form| %>
  <% if add_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_product.errors.count, "error") %> prohibited this add_product from being saved:</h2>

      <ul>
      <% add_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Productos, class: "control-label"%>
    <%= form.collection_select :product_id, Product.all, :id, :name, prompt: true%>
  </div>


  <div class="field">
    <%= form.label :Orden %>
    <%= form.text_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :Precio%>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :Descuento %>
    <%= form.number_field :discount %>
  </div>

  <div class="field">
    <%= form.label :Cantidad %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :Precio_total %>
    <%= form.text_field :total_product_amount %>
  </div>

  <div class="field">
    <%= form.label :Precio_envases %>
    <%= form.text_field :packaging_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
