<p id="notice"><%= notice %></p>

<p>
  <strong>Cod:</strong>
  <%= @product.cod %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Envase:</strong>
  <%= @product.packaging %>
</p>

<p>
  <strong>Formato:</strong>
  <%= @product.format %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @product.unit %>
</p>

<p>
  <strong>Impuesto extra:</strong>
  <%= @product.extra_tax %>
</p>

<p>
  <strong>Precio ruta:</strong>
  <%= @product.stardard_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
