<div class="container">
  <div class="row">
    <div class="col-12">  
      <br><h1>Detalle de productos por factura</h1><br>

      <table class="table table-striped bg-light">
        <thead>
          <tr>
            <th>Fecha creación</th>
            <th>Folio</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>Monto total producto</th>
          </tr>
        </thead>

        <tbody>
          <% @add_items.each do |add_item| %>
            <tr>
          
              <td><%= add_item.created_at.strftime("%d-%m-%Y %I:%M %p") %></td>
              <td><%= add_item.purchase.invoice_number %></td>
              <td><%= add_item.product.name %></td>
              <td><%= add_item.quantity %></td>
              <td><%= number_with_delimiter(add_item.price.round) %></td>
              <td><%= number_with_delimiter(add_item.total_product_amount.round) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div>
